report {
    enabled = true
    file = "nextflow.html"
}

trace {
    enabled = true
    fields = "task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes"
    file = "trace.txt"
    raw = true
}

timeline {
    enabled = true
    file = "timeline.html"
}

// configs for NYULMC Big Purple HPC cluster
params.ref_dir = "/gpfs/scratch/kellys04/molecpathlab/ref"
params.ANNOVAR_DB_DIR = "${params.ref_dir}/annovar/db"
params.ref_fa = "${params.ref_dir}/iGenomes/Homo_sapiens/UCSC/hg19/Sequence/WholeGenomeFasta/genome.fa"
params.ref_fai = "${params.ref_dir}/iGenomes/Homo_sapiens/UCSC/hg19/Sequence/WholeGenomeFasta/genome.fa.fai"
params.ref_dict = "${params.ref_dir}/iGenomes/Homo_sapiens/UCSC/hg19/Sequence/WholeGenomeFasta/genome.dict"
params.gatk_bundle_dir = "${params.ref_dir}/gatk-bundle"
params.dbsnp_ref_vcf = "${params.gatk_bundle_dir}/dbsnp_138.hg19.vcf"
params.dbsnp_ref_vcf_idx = "${params.gatk_bundle_dir}/dbsnp_138.hg19.vcf.idx"
params.cosmic_ref_vcf = "${params.ref_dir}/hg19/CosmicCodingMuts_v73.hg19.vcf"
params.cosmic_ref_vcf_idx = "${params.ref_dir}/hg19/CosmicCodingMuts_v73.hg19.vcf.idx"

params.clusterOptions = '--ntasks-per-node=1 --export=NONE --export=NTHREADS'
params.SLURM_vars='SLURM_JOB_ID SLURM_JOB_NAME SLURM_JOB_NODELIST SLURM_JOB_PARTITION SLURM_MEM_PER_CPU SLURM_MEM_PER_NODE SLURM_PRIO_PROCESS SLURM_SUBMIT_DIR SLURM_SUBMIT_HOST SLURM_TASK_PID SLURMD_NODENAME'
singularity.enabled = true
singularity.autoMounts = true

// location for Singularit container files
params.containerDir = "/gpfs/data/molecpathlab/containers/NGS580-nf"

// ANNOVAR annotation parameters
params.ANNOVAR_BUILD_VERSION ="hg19"
params.ANNOVAR_dbSNP_COLNAME = "dbSNP_147"
params.ANNOVAR_PROTOCOL = "refGene,clinvar_20170905,cosmic70,1000g2015aug_all,dbnsfp33a,avsnp150,exac03,snp138"
params.ANNOVAR_OPERATION ="g,f,f,f,f,f,f,f"


executor {
            $slurm {
                queueSize = 10
            }
            $local {
                queueSize = 4
            }
        }

process {
    // settings for NYULMC Big Purple HPC
    clusterOptions = "${params.clusterOptions}"
    module = "singularity/2.5.2"
    executor = 'slurm'
    cpus = 1
    queue = "intellispace"
    memory = { 16.GB * task.cpus }
    time = '24h'

    beforeScript = """
    . /etc/profile.d/modules.sh;
    sleep 1;
    printf "USER:\${USER:-none} HOSTNAME:\${HOSTNAME:-none} PWD:\$PWD NTHREADS:\${NTHREADS:-none}\n";
    for item in ${params.SLURM_vars}; do printf "\${item}: \${!item:-none}\t"; done;
    echo "";
    TIMESTART=\$(date +%s);
    env > .env.begin;
    set -x;
    """

    afterScript = """
    printf "elapsed time: %s\n" \$((\$(date +%s) - \${TIMESTART:-0}));
    env > .env.end;
    """

    withName: mutect2_nChunk {
        container = "${params.containerDir}/variant-calling-0.0.2.simg"
    }
    withName: mutect2_chromChunk {
        container = "${params.containerDir}/variant-calling-0.0.2.simg"
    }
    withName: mutect2_noChunk {
        time = '36h'
        container = "${params.containerDir}/variant-calling-0.0.2.simg"
    }
    withName: mutect2_lineChunk {
        container = "${params.containerDir}/variant-calling-0.0.2.simg"
    }
    withName: vcf_to_tsv_nChunk {
        executor = "local"
        container = "${params.containerDir}/variant-calling-0.0.2.simg"
    }
    withName: vcf_to_tsv_noChunk {
        executor = "local"
        container = "${params.containerDir}/variant-calling-0.0.2.simg"
    }
    withName: vcf_to_tsv_chromChunk {
        executor = "local"
        container = "${params.containerDir}/variant-calling-0.0.2.simg"
    }
    withName: vcf_to_tsv_lineChunk {
        executor = "local"
        container = "${params.containerDir}/variant-calling-0.0.2.simg"
    }
    withName: annotate {
        executor = "local"
        container = "${params.containerDir}/annovar-150617.simg"
    }
    withName: merge_tables {
        executor = "local"
        container = "${params.containerDir}/variant-calling-0.0.2.simg"
    }
    withName: filter_vcf_lineChunk {
        executor = "local"
    }
    withName: filter_vcf_nChunk {
        executor = "local"
    }
    withName: filter_vcf_chromChunk {
        executor = "local"
    }
    withName: filter_vcf_noChunk {
        executor = "local"
    }
}
